<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block page_title %}Untitled page{% endblock %}</title>
        {% block page_head %}
            <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
            <link rel="stylesheet" href="{{ asset('css/screen.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-collapse">
            {{ renderMenu('WebberigFrontendBundle:Menu:twbs-navbar.html.twig', {
                language: page.language.id,
                page: page.id
            }) }}
            </div>
        </div>
        {% block page_content %}
        {% endblock %}

        <script src="{{ asset('js/main.js') }}"></script>
    </body>
</html>
