{% extends "WebberigFrontendBundle:_Layouts:default.html.twig" %}

{% macro renderContent(page) %}
    <h1>{{ page.title }}</h1>
    {{ page.content|raw }}
{% endmacro %}
{% import _self as self %}

{% block page_title page.title %}

{% block page_content %}
    {% set submenu = renderMenu('WebberigFrontendBundle:Menu:submenu.html.twig', {language: page.language.id, page: page.id}) %}
    <div class="container">
        {% if submenu is empty %}
            {{ self.renderContent(page) }}
        {% else %}
            <div class="row">
                <div class="col-lg-3">
                    {{ submenu|raw }}
                </div>
                <div class="col-lg-9">
                    {{ self.renderContent(page) }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
