{% macro buildMenu(menu, activeMenus) %}
    <ul>
        {% for item in menu %}
        <li{% if item.id in activeMenus %} class="active"{% endif %}>
            {% if item.url is not empty %}
            <a href="{{ item.url }}">
            {% else %}
            <span>
            {% endif %}
                {{ item.name }}
            {% if item.url is not empty %}
            </a>
            {% else %}
            </span>
            {% endif %}
            {% set children = item.submenus %}
            {% if children is not empty %}
                {{ _self.buildMenu(children, activeMenus) }}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}

{{ _self.buildMenu(menu, activeMenus) }}