{% spaceless %}
    {% macro buildMenu(menu, matcher) %}
    {% if menu is not empty %}
    <ul>
        {% for item in menu %}
        <li{% if item.current or matcher.isAncestor(item) %} class="active"{% endif %}>
            {% if item.uri is not empty %}
            <a href="{{ item.uri|url }}">
            {% else %}
            <span>
            {% endif %}
                {{ item.label }}
            {% if item.uri is not empty %}
            </a>
            {% else %}
            </span>
            {% endif %}
            {% if item.current or matcher.isAncestor(item) %}
                {% set children = item.children %}
                {% if children is not empty %}
                    {{ _self.buildMenu(children, matcher) }}
                {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endmacro %}


    {% for item in menu if item.current or matcher.isAncestor(item) %}
        {{ _self.buildMenu(item.children, matcher) }}
    {% endfor %}
{% endspaceless %}