{% macro buildMenu(menu, activeMenus) %}
    <ul class="nav navbar-nav">
        {% for item in menu %}
            {% set children = item.submenus %}
            <li class="{% if item.id in activeMenus %}active{% endif %} {% if item.url is empty %}disabled{% endif %}">
                <a href="{{ item.url|url }}">
                        {{ item.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{{ _self.buildMenu(menu, activeMenus) }}
